[Unit]
Description=Run the PIF backup job daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30m
AccuracySec=1h
Unit=pif-backup.service

[Install]
WantedBy=timers.target
