.navBar {
    background-color: bisque;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navBar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.highlight {
    background-color: tomato;
}

.navBar a:hover {
    color: blue;
}

.AllProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}

.OneProduct {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightsalmon;
}
