.footer-title {
  font-size: 1.8em;
  color: #fff;
  margin-bottom: 0.5em;
}

.footer-list-item {
  font-size: 1.3em;
  margin-top: 0.3em;
}

.footer-list-item a {
  color: #fff;
}

.footer-list-item a:hover {
  text-decoration: underline;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #404040;
  padding: 1.1em;
}

#description {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

#description-title {
  margin-top: 0.5em;
}

#description-title a h2:hover {
  color: #000 !important;
  text-decoration: underline;
}

#description-text p {
  font-size: 1.1em;
  color: #fff;
  margin-top: 0.5em;
}
