* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
	background-color: rgb(59, 56, 56);
	color: white;
	display: flex;
	justify-content: space-between;
    align-items: center;
	margin: 0 auto;
}
header ul {
    list-style-type: none;
    display: flex;
}
header li {
    margin-right: 1.25em;
	font-size: 2em;
}

header a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
	transition: background-color 0.4s;
}

header a:hover {
    background-color: #575757;
    border-radius: 4px;
}
header a.active {
    color: rgb(255, 192, 0);
}
main.home {
    background: url('images/homepage.png');
    background-size: cover;
	height: 50em;
	padding: 4em 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
    text-align: center; 
}
main.register {
    background: url('images/homepage.png');
    background-size: cover;
	height: 50em;
	padding: 4em 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: center;
	font-weight: bold;
}
main.home h1 {
	max-width: 50%;
	font-size: 7em;
	color: white;
}
main.category {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
main.category figure {
	text-align: center;
	margin: 13em 0;
}
main.category img {
	width: 100%;
    height: 80%;
}
main.category figcaption {
    margin-top: 1em;
    font-size: 1.5em;
	max-width: 100%;
}
main.category a {
	color: black;
	text-decoration: none;
}
main a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
	transition: background-color 0.4s;
}
main a:hover {
    background-color: #575757;
    border-radius: 4px;
	color: white;
}
main.destination {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
	height: 50em;
}
main.destination figure {
    flex: 1;
    box-sizing: border-box;
	text-align: center;
	width: 50%;
	margin-top: 3em;
}
main.destination img {
    min-width: 45em;
    height: auto;
}
main.destination figcaption {
	margin: 0 0 0.4em 1.75em;
	font-size: 4.25em;
	text-align: left;
}
main.destination section {
    flex: 1;
    padding: 2em;
    box-sizing: border-box;
	width: 50%;
	margin-top: 3em;
}
main.destination p {
    font-size: 1.75em;
}
main.destination h1 {
	margin-top: 4em;
    font-size: 2em;
	font-weight: normal;
	text-decoration: underline;
}
main.destination ul {
    list-style-type: none;
}
main.destination li:nth-of-type(2n+1) {
	background-color: rgb(217, 217, 217);
    font-size: 2em;
	padding: 0.2em 0.3em;
	margin-top: 0.2em;
}
main.destination li:nth-of-type(2n+2) {
    background-color: rgb(166, 166, 166);
	font-size: 2em;
	padding: 0.2em 0.3em;
	margin-top: 0.2em;	
}
footer {
	background-color: rgb(59, 56, 56);
	color: white;
	display: flex;
    align-items: center;
	justify-content: flex-end;
	height: 5em;
	text-decoration: underline;
}
footer p {
	margin-right: 1.25em;
}