header {
    background-color: grey;
    color: white;
    opacity: 0.8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width: auto;
}

nav {
    flex-grow: 1;
    text-align: right;
}

nav>ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

nav>ul>li {
    padding: 1.5em;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
}


#main1 {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: grey;
    color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer ul li {
    margin: 5px 0;
}

#main2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}



:visited {
    color: white;
}



figure {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

figcaption {
    margin-top: 10px;
    font-size: 2.5em;
    color: #555;
    text-align: center;
}

.table-container {
    align-self: flex-end;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: none;
    padding: 10px;
    text-align: left;
    border-radius: 20px;
}

th {
    background-color: grey;
    color: white;
}

td {
    background-color: lightgrey;
}

p {
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

.HPBG {
    opacity: 80%;
    background-image: url("../images/USA.gif");
    background-size: 1950px 1000px;

    background-color: black;
    
}

.highlight {
    background-color: rgb(30, 31, 30);
    padding: 5px;
    border-radius: 15px;
}

.AllProducts {
    
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;

}
.OneProduct {
    border: 2px solid black;
    padding: 50px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 300px;
    gap:10px;
    margin:20px;
    border-radius: 15px;
}
.OneProduct img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}   
.WelcomeTitle {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
.ProductBG {
    opacity: 80%;
    background-image: url("../images/USFLAG.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    
}
.restBG{
    opacity: 90%;
    background-image: url("../images/Tank.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
